<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </head>
  <body>
     {{> header }}
    {{{body}}}
  </body>
</html>
