
<div class="zoom">

</div>

<video class="video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" controls="false">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
</video>


<div class="size">

</div>
<div class="seperator">
    <p>this is a break</p>
</div>
<div class="small">

</div>
<div class="seperator">
    <p>this is a break</p>
</div>
<div class="small"></div>